<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<!-- Implementación de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
	
	<div class="container">
		<ul class="list-group my-4">
			<li class="list-group-item active" th:text="${titulo}"></li>
			
			<li class="list-group-item" th:text="'Identificador: ' + ${usuario.id}"></li>
			
			<li class="list-group-item" th:text="'Nombre: ' + ${usuario.nombre}"></li>
			
			<li class="list-group-item" th:text="'Apellido: ' + ${usuario.apellido}"></li>
			
			<li class="list-group-item" th:text="'Género: ' + ${usuario.genero}"></li>
			
			<!-- Usamos la expresión #dates.format de Thymeleaf para formatear la fecha usuario.fechaNacimiento en el formato deseado -->
			<li class="list-group-item" th:text="'Fecha de nacimiento: ' + ${#dates.format(usuario.fechaNacimiento, 'dd-MM-yyyy')}"></li> 
			
			<!-- Resultado = Pais: 14, España (ES) -->
			<li class="list-group-item" th:text="'País: ' + ${usuario.pais.id} + ', ' + ${usuario.pais.nombre} + ' (' + ${usuario.pais.codigo} + ')'"></li>
			
			<li class="list-group-item" th:text="'Cuenta: ' + ${usuario.cuenta} + ' €'"></li>
			
			<li class="list-group-item" th:text="'Username: ' + ${usuario.username}"></li>
			
			<li class="list-group-item" th:text="'Password: ' + ${hiddenPassword}"></li>
			
			<li class="list-group-item" th:text="'Email: ' + ${usuario.email}"></li>
			
			<li class="list-group-item" th:text="'Usuario habilitado: ' + ${usuario.habilitar}"></li>
			
			<li class="list-group-item" th:text="'Valor secreto: ' + ${usuario.valorSecreto}"></li>		
		</ul>
	
		<ul class="list-group my-4">
			<li class="list-group-item active" th:text="'Roles'"></li>
			
			<li class="list-group-item" th:each="role: ${usuario.roles}" th:text="${role.id} + ': ' + ${role.nombre} + ' => ' + ${role.role}"></li>
		</ul>
		<a th:href="@{/form}" class="btn btn-success my-1">Volver</a>
	</div>
</body>
</html>